In [7]:
import pandas as pd

# Load the data from the CSV file
df = pd.read_csv('salesdata.csv')

# Display the first few rows of the DataFrame to understand its structure
print("DataFrame Overview:")
print(df.head())

# Create a pivot table to find the total sales amount by region
pivot_region = df.pivot_table(values='Sale_amt', index='Region', aggfunc='sum')
print("\nTotal Sales Amount by Region:")
print(pivot_region)

# Create a pivot table to find the total sales amount by manager
pivot_manager = df.pivot_table(values='Sale_amt', index='Manager', aggfunc='sum')
print("\nTotal Sales Amount by Manager:")
print(pivot_manager)

# Create a pivot table to find the total sales amount by salesman
pivot_salesman = df.pivot_table(values='Sale_amt', index='SalesMan', aggfunc='sum')
print("\nTotal Sales Amount by Salesman:")
print(pivot_salesman)

#Output
#DataFrame Overview:

#    Region  Manager   SalesMan          Item  Units  Unit_price  Sale_amt
#0     East   Martha  Alexander    Television     95      1198.0  113810.0
#1  Central  Hermann     Shelli  Home Theater     50       500.0   25000.0
#2  Central  Hermann       Luis    Television     36      1198.0   43128.0
#3  Central  Timothy      David    Cell Phone     27       225.0    6075.0
#4     West  Timothy    Stephen    Television     56      1198.0   67088.0

#Total Sales Amount by Region:
 #        Sale_amt
#Region           
#Central  829769.5
#East     321007.0
#West     154899.0

#Total Sales Amount by Manager:
 #        Sale_amt
#Manager          
#Douglas  239056.0
#Hermann  365108.5
#Marth     14000.0
#Martha   458493.0
#Timothy  229018.0

#Total Sales Amount by Salesman:
 #          Sale_amt
#SalesMan           
#Alexander  236703.0
#David      140955.0
#Diana       36100.0
#John       124016.0
#Karen       48204.0
#Luis       206373.0
#Michael     66836.0
#Shelli      33698.0
#Sigal      125037.5
#Stephen     88063.0
#Steven     199690.0

DataFrame Overview:
    Region  Manager   SalesMan          Item  Units  Unit_price  Sale_amt
0     East   Martha  Alexander    Television     95      1198.0  113810.0
1  Central  Hermann     Shelli  Home Theater     50       500.0   25000.0
2  Central  Hermann       Luis    Television     36      1198.0   43128.0
3  Central  Timothy      David    Cell Phone     27       225.0    6075.0
4     West  Timothy    Stephen    Television     56      1198.0   67088.0

Total Sales Amount by Region:
         Sale_amt
Region
Central  829769.5
East     321007.0
West     154899.0

Total Sales Amount by Manager:
         Sale_amt
Manager
Douglas  239056.0
Hermann  365108.5
Marth     14000.0
Martha   458493.0
Timothy  229018.0

Total Sales Amount by Salesman:
           Sale_amt
SalesMan
Alexander  236703.0
David      140955.0
Diana       36100.0
John       124016.0
Karen       48204.0
Luis       206373.0
Michael     66836.0
Shelli      33698.0
Sigal      125037.5
Stephen     88063.0
Steven     199690.0